* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 30px auto;
}

.main-table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse;
}
.main-table tr td,
.main-table tr th {
  padding: 10px 0;
}
.main-table .thead-bot {
  background-color: blue;
  color: white;
}
.main-table tbody > tr > td > input {
  text-align: center;
  padding: 10px;
}

.btn-add-round {
  background-color: blue;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  color: white;
}
